#tests{
	position:absolute;
	margin-top:-50px;
	width:100%;
}
.dashicons.large{
	font-size:400%;	
}
.dashicons.center{
	width:100%;
}
.fa.large{
	font-size:200%;	
	margin-top:45px;
	margin-bottom:10px;
	display:block;
	text-align:center;
}
.code-icon{
	background-color:#000;
	color:#CCC;
	font-weight:bold;
		
}
.code-icon .id{
	color:#FFF;
}
.modal-to-div .code-icon{
	max-width: 190px;
	min-width: 180px;
	margin: 0px auto;
}
.div-remote-modal{
	margin-top:50px;
}
.div-remote-modal .fa.large{
	margin:0px;
}
.div-remote-modal .dashicons.large{
	width:50px;
	margin:20px 0px;
	position:relative;
	top:-60px;
}
.div-remote-modal .modals .dashicons.large{
	text-align:left;
	width:100%;
	margin:20px 0px;
	position:relative;
	top:-60px;
}
.div-remote-modal .deg45{
	transform: rotate(35deg);
	transform-origin:10% 40%;
	-ms-transform: rotate(35deg);
	-ms-transform-origin:10% 40%;
	-webkit-transform: rotate(35deg);
	-webkit-transform-origin:10% 40%;
}
.div-remote-modal .deg-45{
	transform: rotate(-35deg);
	transform-origin:10% 40%;
	-ms-transform: rotate(-35deg);
	-ms-transform-origin:10% 40%;
	-webkit-transform: rotate(-35deg);
	-webkit-transform-origin:10% 40%;
}
.div-remote-modal p{
	position:relative;
	top: -40px;
}
.div-remote-modal h3{
	margin-top:0px;
	position:relative;
	top:-40px;
}
.jumbotron.large p{
	position:relative;
	top:-4px;
}
#notes .panel{
	border:none;
	box-shadow:none;
}